<div class="row" *ngFor="let movie of movies; let i = index">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <div class="col-md-5">
            <iframe [src]='getSafeUrl(i)' frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
            <h4>{{movie.title}}</h4>
            <p>Shared By: {{movie.sharedBy}}</p>
            <p>{{movie.votedUp}} <span class="glyphicon glyphicon-thumbs-up">  {{movie.votedDown}}<span class="glyphicon glyphicon-thumbs-down"></span> </p>
            <div>
                <p>Description: </p>
                <p>{{movie.description}}</p>
            </div>
        </div>

    </div>
</div>
